@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Tilt+Warp&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }
html, body { max-width: 100vw; }
body { 
  background: #f9fafb; 
  color: #111827; 
  font-family: 'Chiron GoRound TC', sans-serif; 
  overflow-x: clip; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-black tracking-tight text-neutral-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-200 rounded-full hover:bg-neutral-300 transition-colors;
  }
  @media (max-width: 768px) {
    .font-black {
      font-weight: 400;
    }
  }
}
